<div class="wrapper-login">
	<div class="container-login">
		<h1>Welcome</h1>
		
		<form class="form-login" (ngSubmit)="onSubmit()" >
			<input type="text" placeholder="Username" required [(ngModel)] = "infoLogin.username" name="username" id="username">
			<input type="password" placeholder="Password" required [(ngModel)] = "infoLogin.password" name="password"id="password" >
			<button type="submit" id="login-button">Login</button>
		</form>
	</div>
	<div [hidden]="!submitted">
        <h4 style="color: red;">Error. Account is not right</h4>
    </div>

</div>