<app-menu-admin></app-menu-admin>
<div class="panel panel-primary">
  <div class="panel-heading">
      <h2>Logo List</h2>
  </div>
  <button (click) = "openCreateModal()" class="btn btn-primary" style="margin-left: 10px;">Create</button>
  <div class="panel-body">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Text</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let logo of logos">
                  <td>{{logo.id}}</td>
                  <td>{{logo.text}}</td>
                  <td>
                      <button (click)="deleteLogo(logo.id)" class="btn btn-danger">Delete</button>
                      <button (click) = "editLogo(logo)" class="btn btn-info" style="margin-left: 10px;">Edit</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>