<form (ngSubmit)="onSubmit()">
  <div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Create Introduction</h1>
    </header>
    <section id="modal-body">
        <div>Title: <input class="input-text" id="title"  placeholder="text" required [(ngModel)] = "intro.title"  name="title"/></div>
        <div> Description: <input class="input-description" id="title"  placeholder="text" required [(ngModel)] = "intro.description"  name="title"/></div>
      </section>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-action-button" type="submit">Add</button>
        <button mat-raised-button id="modal-cancel-button" type="button" (click)="closeModal()">Back</button>
    </footer>
  </div>
  </form>